*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: red;
}
.page2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: blue;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: green;
}
.move{
    gap: 50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
}
.content{
    background-color: white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-100%);
}
img{
    height: 50px;
}